<p>Library Name: <%= @library.name %></p>
<p>Which city in Colorado is the Library located: <%= @library.city %></p>
<p>Does the Library have a computer lab?: <%= @library.computer_lab %></p>
<p>This Library has: <%= @library.books.count %> books</p>